<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198765944214-nstrbroo5j0p4h9e58h15a8uc3129cdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198765944214-nstrbroo5j0p4h9e58h15a8uc3129cdm</string>
	<key>API_KEY</key>
	<string>AIzaSyCtBrFIDsETdGijZjFFpCiZSKxlM-zab4s</string>
	<key>GCM_SENDER_ID</key>
	<string>198765944214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wireshark.flutterLoginDemo</string>
	<key>PROJECT_ID</key>
	<string>logindemo-81a40</string>
	<key>STORAGE_BUCKET</key>
	<string>logindemo-81a40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198765944214:ios:05179b53ea6e913f</string>
	<key>DATABASE_URL</key>
	<string>https://logindemo-81a40.firebaseio.com</string>
</dict>
</plist>